<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;" {% endif %}>
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
        <div class="container" style="float:left; width:50%">
            <h1 class="title is-2">{{ page.title }}</h1>
            <h1 class="subtitle is-2">潘嶓</h1>
            <p class="subtitle is-3">{{ page.subtitle }}</p>
        </div>
        <div class="container" style="float:right;">
            <img src="img/self.jpg" alt="Bo" style="width:300px;
            display: flex;align-items: center;justify-content: center
            ;overflow: hidden; float: right; position:relative" border="10">
        </div>
    </div>
</section>
