{% assign news_by_year = site.news
    | sort: "date"
    | reverse
    | slice: 0, include.limit
    | group_by_exp: "item", "item.date | date: '%Y'" -%}

<div class="my-3 bg-white shadow-sm rounded-sm">
 <h6 class="p-3 mb-0 border-bottom border-gray">
   <i class="fas fa-rss"></i> News
 </h6>
 <div class="px-3 pb-1">

   {% for year in news_by_year %}
     {% for item in year.items %}
       <div class="d-flex py-1 align-items-center border-top border-gray">
         {%- if forloop.first -%}
           <div class="text-muted text-right pr-3" style="width:55px;">
             {{ year.name }}
           </div>
         {%- else -%}
           <div style="width:55px;" class="pr-3"></div>
         {%- endif -%}

         <div class="text-muted text-right pr-2" style="width:60px;">
           <i>{{ item.date | date: "%b" }}</i>
         </div>

         <div class="flex-grow-1">
           {{ item.title }}
         </div>
       </div>
     {% endfor %}
   {% endfor %}

 </div>
</div>
